@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
        url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'icomon';
    src:  url('fonts/icomon.eot?chu7bm');
    src:  url('fonts/icomon.eot?chu7bm#iefix') format('embedded-opentype'),
      url('fonts/icomon.ttf?chu7bm') format('truetype'),
      url('fonts/icomon.woff?chu7bm') format('woff'),
      url('fonts/icomon.svg?chu7bm#icomon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-icon:before {
    content: "\e900";
    color: #b39967;
  }
  